.o-pair {
    @include cf();

    $gutter: map-get($gutters, default);

    &__object {
        float:left;
        margin-right:$gutter;
        font-size:0px;
    }

    &__body {
    	//
    }

    &--right {
        .o-pair__object {
            float:right;
            margin-right:0px;
            margin-left:$gutter;
        }
    }
}

@each $gutter, $value in $gutters {
	@if($gutter != 'default') {
		.o-pair--#{$gutter} {
			.o-pair__object {
				margin-right:$value;
			}
			&.o-pair--right .o-pair__object {
				margin-left:$value;
			}
		}
	}
}