$devMode: false;



/* ---------------------------------------------------
 * Mixins
 */

$outputMixinsAsClasses:true;

$clearfixClass:false;
$visuallyhiddenClass:false;
$tableClass:false;
$padClass:false;
$ratioClass:false;
$fillupClass:false;
$displayClass:false;
$hideshowClass:false;

/* ------------------------------------------------ */

/* ---------------------------------------------------
 * Media queries
 */

$breakpoints: (
	palm: 480px,
	lap: 740px,
	desk: 960px,
	desk-wide: 1100px,
	full-width: 1000px,
);

@function breakpoints($key) {
	@return map-get($breakpoints, $key);
};
/* ------------------------------------------------ */



/* ---------------------------------------------------
 * Width divisions
 */

$width-fractions: 1 2 3 4 !default;
$create-offsets: false !default;
$widths-delimiter: \/ !default;
$widths-breakpoint-namespace: \@ !default;


/* ------------------------------------------------ */



/* ---------------------------------------------------
 * Gutters
 */

$gutters: (
	default:20px,
	large:50px,
);
@function gutter($key) {
	@return map-get($gutters, $key);
};

/* ---------------------------------------------------
 * Block variables and settings
 */
$use-corsets: true;
$use-flushes: true;

$corsets: (
	default: 1200px,
	thin: 1000px,
);
/* ------------------------------------------------ */
