.grid--orphanless-sink {

    .grid__item:only-child {
        width:100% !important;
    }

    .grid__item:first-child:nth-last-child(1n) {
        width: 100%;
    }
    
    .grid__item:first-child:nth-last-child(2n),
    .grid__item:first-child:nth-last-child(2n) ~ .grid__item{
        width: 50%;
    }
    
    .grid__item:first-child:nth-last-child(3n),
    .grid__item:first-child:nth-last-child(3n) ~ .grid__item{
        width: 33.33%;
    }

    
    .grid__item:first-child:nth-last-child(3n+1),
    .grid__item:first-child:nth-last-child(3n+1) ~ .grid__item{
        width: 25%;
    }

    .grid__item:first-child:nth-last-child(5),
    .grid__item:first-child:nth-last-child(5) ~ .grid__item
    {
        width: 33.33%;
    }
    .grid__item:first-child:nth-last-child(5) ~ .grid__item:nth-last-child(4),
    .grid__item:first-child:nth-last-child(5) {
        width: 50%;
    }
    .grid__item:first-child:nth-last-child(7),
    .grid__item:first-child:nth-last-child(7) ~ .grid__item {
        width: 33.33%;
    }

    .grid__item:first-child:nth-last-child(7) ~ .grid__item:nth-last-child(4),
    .grid__item:first-child:nth-last-child(7) ~ .grid__item:nth-last-child(3),
    .grid__item:first-child:nth-last-child(7) ~ .grid__item:nth-last-child(2),
    .grid__item:first-child:nth-last-child(7) ~ .grid__item:last-child{
        width: 25%
    }

    .grid__item:first-child:nth-last-child(8),
    .grid__item:first-child:nth-last-child(8) ~ .grid__item {
        width: 25%;
    }

    .grid__item:first-child:nth-last-child(10),
    .grid__item:first-child:nth-last-child(10) ~ .grid__item {
        width: 50%;
    }

    .grid__item:first-child:nth-last-child(10) ~ .grid__item:nth-last-child(8),
    .grid__item:first-child:nth-last-child(10) ~ .grid__item:nth-last-child(7),
    .grid__item:first-child:nth-last-child(10) ~ .grid__item:nth-last-child(6),
    .grid__item:first-child:nth-last-child(10) ~ .grid__item:nth-last-child(5),
    .grid__item:first-child:nth-last-child(10) ~ .grid__item:nth-last-child(4),
    .grid__item:first-child:nth-last-child(10) ~ .grid__item:nth-last-child(3),
    .grid__item:first-child:nth-last-child(10) ~ .grid__item:nth-last-child(2),
    .grid__item:first-child:nth-last-child(10) ~ .grid__item:last-child {
        width: 25%;
    }

    .grid__item:first-child:nth-last-child(11),
    .grid__item:first-child:nth-last-child(11) ~ .grid__item {
        width: 50%;
    }

    .grid__item:first-child:nth-last-child(11) ~ .grid__item:nth-last-child(9),
    .grid__item:first-child:nth-last-child(11) ~ .grid__item:nth-last-child(8),
    .grid__item:first-child:nth-last-child(11) ~ .grid__item:nth-last-child(7),
    .grid__item:first-child:nth-last-child(11) ~ .grid__item:nth-last-child(6),
    .grid__item:first-child:nth-last-child(11) ~ .grid__item:nth-last-child(5),
    .grid__item:first-child:nth-last-child(11) ~ .grid__item:nth-last-child(4),
    .grid__item:first-child:nth-last-child(11) ~ .grid__item:nth-last-child(3),
    .grid__item:first-child:nth-last-child(11) ~ .grid__item:nth-last-child(2),
    .grid__item:first-child:nth-last-child(11) ~ .grid__item:last-child {
        width: 33.33%;
    }
}